*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

/*Settings*/
.navbar{
  /*Primary background color*/
  --primary-navbar:#FFF;

  /*Secondary background color*/
  --secondary-navbar: #FFF;

  /*Element and item color*/
  --element-color: #000;
  --item-color: #000;
  --item-background:#FFF;

  /*Navbar shadow box*/
  --shadow-box-navbar: 0px 0px 10px 0px #111;

  /*Height navbar*/
  --height-navbar: 70px;

  /*Navbar position left/right*/
  --left-element: 100px;
  --right-element: 60px;

  /*Space between elemens and items*/
  --width-element: 120px;
  --width-item: 120px;

  /*Hover color*/
  --element-background-hover: #AAA;
  --item-background-hover: #AAA;
  --element-color-hover: #FFF;
  --item-color-hover: #EEE;

  /*Logo settings*/
  --logo-width: 180px;
  --logo-height: 70px;
  --logo-position: 20px;
}

body, html{
  height: 100%;
  width: 100%;
}

a, Link{
  text-decoration: none;
}

#root{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.navbar{
  background-color: var(--primary-navbar);
  box-shadow: var(--shadow-box-navbar);
  height: var(--height-navbar);
}

.navbar .navbar-menu{
  line-height: var(--height-navbar);
  height: var(--height-navbar);
  display: inline-flex;
}

.nav-logo{
  display: inline-flex;
  position: relative;
}

.nav-logo .image-logo{
  position: relative;
  display: inline-flex;
  width: var(--logo-width);
  height: var(--logo-height);
  left: var(--logo-position);
}

.navbar .navbar-menu .nav-element-left{
  display: inline-flex;
  position: relative;
  float: none;
  left: var(--left-element);
}

.navbar .navbar-menu .nav-element-right{
  display: flex;
  position: absolute;
  float: right;
  right: var(--right-element);
}

.navbar .navbar-menu li{
  text-align: center;
  display: block;
  width: var(--width-element);
}

.navbar .navbar-menu li a{
  display: block;
  color: var(--element-color);
}

.navbar .navbar-menu li a:hover{
  background-color: var(--element-background-hover);
  color: var(--element-color-hover);
}


.navbar .navbar-menu li ul{
  position: absolute;
  display: block;
}

.navbar .navbar-menu li ul li{
  display: block;
  width: var(--width-item);
  background-color: var(--item-background);
}

.navbar .navbar-menu li ul li a{
  display: block;
  color: var(--item-color);
}

.navbar .navbar-menu li ul li a:hover{
  background-color: var(--item-background-hover);
  color: var(--item-color-hover);
}
